language: java

os:
  - linux

jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7


before_install:
  - "[[ -f $HOME/cache/$CONTAINER_ZIP ]] || wget $URL -P $HOME/cache"

script:
  - mvn checkstyle:check
  - mvn clean test -DskipTests=false -Dkaraf.url=file://$HOME/cache/$CONTAINER_ZIP

env:
  - URL="http://www.eu.apache.org/dist/karaf/$KARAF_VERSION/apache-karaf-$KARAF_VERSION.zip"
    CONTAINER_ZIP="apache-karaf-$KARAF_VERSION.zip"

cache:
  directories:
  - $HOME/cache
  - $HOME/.m2
